.button-search {
    box-shadow: rgb(255, 255, 255) 0px 2px 0px inset, rgba(232, 234, 238, 0.5) 0px -1.5px 0px inset, rgba(223, 226, 231, 0.5) 0px 1px 2px 0px;
    border: 1px solid rgb(223, 226, 231);
}

.button-header {
    box-shadow: hsla(215, 15%, 97%, 0.4) 0 2px 0 inset, hsla(215, 15%, 92%, 0.5) 0 -1.5px 0 inset, hsla(215, 15%, 89%, 0.5) 0 1px 2px 0;
}